<div class="footer">
    <div class="container">
        <div class="first">
            <h4>ABOUT</h4>
            <ul class="list">
                <li>Contact Us</li>
                <li>About Us</li>
                <li>Careers</li>
                <li>Flipkart Stories</li>
            </ul>
        </div>
        <div class="second">
            <h4>HELP</h4>
            <ul class="list">
                <li>Shipping Information</li>
                <li> Returns & Exchange</li>
                <li> Terms & Conditions</li>
                <li> Privacy Policy</li>
            </ul>
        </div>
        <div class="third">
            <h4>Registered Office Address:</h4>
           <p>Flipkart Internet Private Limited,
                Buildings Alyssa, Begonia &
                Clove Embassy Tech Village,
                Outer Ring Road, 
                Bengaluru, 560103,
                Karnataka, India.
           </p>
            <p><i class="material-icons">phone</i>1800 208 9898</p>
        </div>
    </div>
    <div class="copyright">
        <p style="text-align: center;">©2007-2020 Flipkart.com</p>
    </div>
</div>


