/*
.loginBox{
    background: #FFF;
    margin-top: 80px;
    padding: 20px 15px;
    border: #EEE 1px solid;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    border-color: teal;
    border-width: 5px;
   
}
.loginBox h3{ 
    margin-bottom: 25px;
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(0, 72, 139);
    font-weight: bold;
}
.loginBox input{
    border-color:slategray;

}
.container{
    padding-left: 25%;
    margin-top: auto;
}
body{
    background-color: slategrey;
}
*/
.error{color: crimson;}

/*.main-head{
    height: 150px;
    background: white;  
}
*/
.sidenav {
    height: 400px;
    background-color: rgb(191, 206, 216);
    overflow-x: hidden;
    width: 700px;
    margin-top: 5%;
    padding: 0px 30px;
    margin-left: 340px;    
}
.main {
    padding: 0px 20px;
    width: 768px;
    margin-left: 60px;
    
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}
@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }
}
@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }
    .sidenav{
        width: 40%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .login-form{
        margin-top: 80%;
    }
}

.login-main-text{
    padding: 20px;
    color: #fff;
}
.login-main-text h2{
    font-weight: 500;
    color: cadetblue;
}
.login-form{
    margin-top: auto;
    margin-left: 5%;    
    width: 200px;
   
}

