<div class="container" *ngIf="details">
  <div class="product-img-container">
      <img class="productImg" mat-card-image style="width: 100%; padding: 20px;" [src]="details.image"
          alt="image">
  </div>
  <div class="product-description">
    <h1 style="font-weight: 400;">{{details.name}}</h1>
    <h3 style="font-weight:100; font-family: serif;">{{details.description}}</h3>
    <h2 style="font-weight: 400;">{{details.price | currency:'INR'}}</h2>
    <div class="button-group">
      <button (click)="addToCart(details)" mat-button mat-raised-button color="primary" class="buy-now-button space">BUY NOW</button>
      <button [routerLink]="['/cart']" mat-button mat-stroked-button color="primary" class="button">ADD TO CART</button>
      <button [routerLink]=" [ '/home']" mat-button mat-stroked-button color="primary" style="margin-left: 5px;"class="button">Back</button>
    </div>
  </div>
</div> 
 
